

body {
  background-color: blanchedalmond;
}

.Yup{
  grid-row: 1;
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-self: center; 
  min-height:100PX; 
  padding: 10px;
  width:100%;
  text-align: center; 
  background: #63b3ed;
  color: #fff;
}
